<div class="notes-wrapper">
  <div class="container">
    <div class="notes-list" *ngFor="let note of notes">
      <a [routerLink]="[note.id]">
        <div class="note-card" style="margin: 15px">
          <div class="note-card-title">{{ note.title }}</div>
          <div class="note-card-content" *ngIf="note.content">{{ note.content }}</div>
        </div>
      </a>
      <button class="btn"  (click)="remove(note.id)">Remove</button>
    </div>
    <div class="btns-container btns-centered">
      <a [routerLink]="['add']" class="btn">
        <i class="material-icons-outlined">add</i>
      </a>
    </div>
  </div>
</div>
