.app-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-img {
    position: fixed;

    height: 100%;
    width: 100%;

    object-fit: cover;

    z-index: -1;
}

.top-section {
    background-color: aquamarine;
    text-align: center;

    padding: 100px 0;

    h1 {
        font-size: 120px;
        font-weight: bold;
        color: #fff;
        text-shadow: 0px 1px 7px rgba(black, 0.1);
    }

    h2 {
        font-size: 28px;
        color: white;
        text-shadow: 0px 1px 4px rgba(black, 0.1);
    }
}

.content-section {
  background-color: blueviolet;
    flex-grow: 1;
    min-height: 0;
}

.bottom-section {
    background-color: coral;
    display: flex;

    app-tabs {
        margin: auto;
    }
}

.change-bg-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;

    background: rgba(black, 0.1);
    color: rgba(white, 0.7);

    &:hover {
        background: rgba(black, 0.3);
        color: white;
    }

    &:active {
        transform: translateY(1px);
    }
}

.btn-login {
    display: inline-flex;
    align-items: center;
    margin: -25px;
    margin-left: 15px;
    margin-bottom: 10px;

    padding: 12px 22px;
    background: rgba(black, 0.7);

    text-decoration: none;

    color: white;

    font-size: 18px;
    font-weight: 600;
    font-family: inherit;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    &:hover {
      background: rgba(black, 0.78);
      backdrop-filter: blur(2px);
    }

    &:active {
      background: rgba(black, 0.85);
    }

  }
