.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* скрываем дефолтный флажок */
.container-check .check-highload {
  position: absolute;
  opacity: 0;
}

/* Создаем кастомный checkbox */
.highload2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* При наведении указателя мыши перекрашиваем */
.container-check:hover .check-highload ~ .highload2 {
  background-color: #ccc;
}

/* Когда отмечен, то красим в зеленый цвет */
.container-check .check-highload:checked ~ .highload2 {
  background-color: green;
}

/* Создаем когда отмечено (не видно, когда не отмечено) */
.highload2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Показываем когда отмечен */
.container-check .check-highload:checked ~ .highload2:after {
  display: block;
}

/* Стили индикатора */
.container-check .highload2:after {
  left: 8px;
  top: 4px;
  width: 8px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
